.nursing-section {
  background: #ffffff;
  padding: 80px 0;
}

.nursing-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 50px;
  align-items: center;
}

/* LEFT SIDE */
.nursing-left {
  flex: 1;
  overflow: hidden;
  position: relative;
  height: 300px;
}

.slider-track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease-in-out;
}

.slider-track img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}


.nursing-left img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

/* RIGHT SIDE */
.nursing-right {
  flex: 1;
}

.nursing-header span {
  color: #08B36A;
  font-weight: 600;
  font-size: 24px;
}

.nursing-header h2 {
  font-size: 50px;
  margin: 20px 0;
  color: #222;
  line-height: 1.2;
}

/* Scrollable Description */
.nursing-description {
  max-height: 180px;
  overflow-y: auto;
  padding-right: 15px;
  border-left: 3px solid #08B36A;
  padding-left: 20px;
  margin-bottom: 25px;
}

.nursing-description p {
  margin-bottom: 16px;
  color: #444;
  line-height: 1.7;
}

/* Custom Scrollbar */
.nursing-description::-webkit-scrollbar {
  width: 6px;
}

.nursing-description::-webkit-scrollbar-thumb {
  background: #08B36A;
  border-radius: 10px;
}

/* Button */
.book-btn {
  background: #08B36A;
  color: #fff;
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
}

.book-btn:hover {
  background: #23945f;
  transform: translateY(-3px);
}

/* Responsive */
@media (max-width: 992px) {
  .nursing-container {
    flex-direction: column;
  }

  .nursing-header span{
    text-align: left;
  }

  .nursing-header h2 {
    font-size: 36px;
    text-align: left;
  }

  .nursing-left img {
    height: 300px;
  }
}
