@import "tailwindcss";

/* ============================= */
/* Global Reset */
/* ============================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ============================= */
/* Hide Scrollbar Everywhere */
/* ============================= */

/* Chrome, Safari, Edge */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* Firefox */
* {
    scrollbar-width: none;
}

/* IE & Old Edge */
body {
    -ms-overflow-style: none;
}


/* ============================= */
/* ===== Admin Layout ===== */
/* ============================= */

.admin-layout {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    /* prevent double scroll */
}

/* ============================= */
/* Sidebar Container */
/* ============================= */

.admin-sidebar {
    height: 100vh;
    background: #f8f9fb;
    border-right: 1px solid #e5e5e5;
    overflow-y: auto;
}

/* ============================= */
/* Main Wrapper */
/* ============================= */

.admin-main-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #f3f3f3;
    padding: 10px 25px;
    overflow: hidden;
    /* prevent double scroll */
}

/* ============================= */
/* Content Area */
/* ============================= */

.admin-content-area {
    flex: 1;
    overflow-y: auto;
    /* scrolling works */
}