.hero-wrapper {
    position: relative;
    width: 100%;
}

/* Background Section */
.hero-background {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-size: cover;
    transition: background-image 0.8s ease-in-out;
    position: relative;
}

/* Dark Overlay */
.hero-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.406);
    display: flex;
    align-items: center;
    padding-left: 8%;
}

.hero-content h1 {
    color: white;
    font-size: 55px;
    font-weight: 700;
}

.hero-content p {
    color: #e0e0e0;
    font-size: 20px;
    margin-top: 15px;
}

/* Cards Section */
.hero-cards {
    z-index: 1000;
    position: absolute;
    bottom: -36px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.hero-card {
    background: white;
    width: 180px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.354);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
    color: inherit;
}


.hero-card:hover {
    transform: translateY(-8px);
}

.hero-card span {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
}

/* Icons */
.card-icon {
    font-size: 28px;
}

.orange {
    color: #f39c12;
}

.purple {
    color: #8e44ad;
}

.blue {
    color: #2980b9;
}

.green {
    color: #27ae60;
}

.red {
    color: #e74c3c;
}

.darkred {
    color: #c0392b;
}

/* -------------------- */
/* Responsive */
/* -------------------- */

@media (max-width: 992px) {
    .hero-background {
        height: 500px;
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .hero-card {
        display: none;
    }
}

@media (max-width: 768px) {
    .hero-background {
        height: 450px;
    }

    .hero-content {
        padding-right: 20px;
    }

    .hero-content h1 {
        font-size: 30px;
    }

    .hero-content p {
        font-size: 16px;
    }

    .hero-cards {
        display: none;
    }
}