.tnav-wrapper {
  background-color: #08B36A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 40px;
  color: white;
  font-family: Arial, sans-serif;
  flex-wrap: wrap;
}

/* LEFT */
.tnav-left {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.tnav-location-text {
  font-weight: 500;
  text-decoration: underline;
  font-size: 14px;
}

/* CENTER */
.tnavv-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.tnavv-search-input {
  width: 60%;
  padding: 8px 15px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: #fff;
  color: black;
}

/* RIGHT */
.tnav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tnav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  cursor: pointer;
}

.tnav-link:hover {
  text-decoration: underline;
}

.tnav-divider {
  opacity: 0.8;
}

.tnav-icon {
  font-size: 14px;
}

/* MODAL BACKGROUND */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* MODAL BOX */
.modal-box {
  background: #ffffff;
  width: 80%;
  max-height: 90vh;
  overflow-y: auto;
  /* padding: 20px; */
  border-radius: 6px;
  scroll-behavior: smooth;
}

/* Nice scrollbar */
.modal-box::-webkit-scrollbar {
  width: 8px;
}

.modal-box::-webkit-scrollbar-thumb {
  background: #08b36a;
  border-radius: 4px;
}



/* ANIMATION */
@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}


/* -------------------- */
/* ✅ TABLET VIEW */
/* -------------------- */

@media (max-width: 992px) {
  .tnavv-search-input {
    width: 80%;
  }

  .tnav-wrapper {
    padding: 12px 20px;
  }
}

/* -------------------- */
/* ✅ MOBILE VIEW */
/* -------------------- */

@media (max-width: 600px) {
  .modal-box {
    width: 95%;
    height: 100vh;
  }

  .tnav-wrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    padding: 15px;
  }

  .tnav-left {
    justify-content: center;
  }

  .tnavv-center {
    order: 3;
    width: 100%;
  }

  .tnavv-search-input {
    width: 100%;
  }

  .tnav-right {
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  .tnav-divider {
    display: none;
  }
}