/* * {
    text-decoration: none;
} */

.sidebar {
    width: 260px;
    transition: width 0.3s ease;
    overflow-x: hidden;   /* only hide horizontal */
    
    padding: 20px 15px;
    overflow-y: auto;     /* allow vertical scroll */
}

/* .sidebar {
    width: 260px;
    height: 100vh;
    background: #f8f9fb;
    border-right: 1px solid #e5e5e5;
    overflow-y: auto;
} */

.logo-section {
    text-align: center;
    margin-bottom: 30px;
}

.logo-in-admin {
    height: 110px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 17px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    color: #4a5568;
    transition: 0.3s;
    position: relative;
}

.menu-item:hover {
    background: #eaeaea;
}

.menu-item.active {
    background: #e6f0ff;
    color: #0d6efd;
    font-weight: 600;
    border-left: 4px solid #0d6efd;
}

.menu-item.active .icon {
    color: #0d6efd;
}

.icon {
    font-size: 18px;
    color: #1da1f2;
}

.arrow {
    margin-left: auto;
    font-size: 12px;
}

.submenu {
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    animation: fadeIn 0.3s ease-in-out;
}

.submenu a {
    padding: 15px 0;
    font-size: 16px;
    color: #555;
    transition: 0.3s;
}

.submenu a:hover {
    color: #1da1f2;
}

.submenu a.sub-active {
    color: #0d6efd;
    font-weight: 600;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.sidebar {
    width: 260px;
    transition: all 0.3s ease;
}

.sidebar.collapsed {
    width: 80px;
}

.sidebar.collapsed .menu-item span,
.sidebar.collapsed .submenu {
    display: none;
}

.sidebar.collapsed .arrow {
    display: none;
}

.sidebar.collapsed .logo-in-admin {
    width: 40px;
}

.sidebar {
    width: 260px;
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar.collapsed {
    width: 80px;
}

/* Hide text smoothly */
.sidebar.collapsed .menu-item span,
.sidebar.collapsed .submenu {
    opacity: 0;
    visibility: hidden;
}

.sidebar.open .menu-item span,
.sidebar.open .submenu {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease 0.1s;
}

/* Hide arrows when collapsed */
.sidebar.collapsed .arrow {
    display: none;
}