.wrapper {
    /* padding: 20px 40px; */
    background: #f3f3f3;
    min-height: 100vh;
}

/* TOP BUTTONS */
.topActions {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-bottom: 20px;
}

.addBtn,
.backBtn {
    background: #3cb371;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.backBtn {
    background: #3cb371;
}

/* TABLE BOX */
.tableContainer {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

/* TABLE */
.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.table th,
.table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.table th {
    background: #f8f8f8;
    font-weight: 600;
}

/* IMAGE */
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    object-fit: cover;
    border: 1px solid #ddd;
}

/* ACTION ICONS */
.actions {
    display: flex;
    gap: 12px;
    font-size: 16px;
}

.editIcon {
    color: orange;
    cursor: pointer;
}

.deleteIcon {
    color: red;
    cursor: pointer;
}

/* PAGINATION */
.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 6px;
    margin-top: 15px;
}

.pagination button {
    padding: 6px 12px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
    font-size: 12px;
}

.active {
    background: #3cb371 !important;
    color: white;
    border-color: #3cb371;
}