.lab-section {
    background-color: #ffffff;
    padding: 80px 100px;
    font-family: "Segoe UI", sans-serif;
}

.lab-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

/* ================= LEFT SIDE ================= */

.lab-left {
    flex: 1;
}

.lab-carousel {
    width: 100%;
    height: 420px;
    overflow: hidden;
    /* border-radius: 12px; */
}

.lab-carousel-track {
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.lab-image {
    width: 100%;
    height: 340px;
    object-fit: cover;
    flex-shrink: 0;
}

/* ================= RIGHT SIDE ================= */

.lab-right {
    flex: 1;
}

.lab-top-row {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.lab-label {
    color: #08B36A;
    font-size: 24px;
    font-weight: 500;
}

.lab-arrow {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #08B36A;
}


.lab-heading {
    font-size: 50px;
    font-weight: 700;
    color: #222;
    margin-bottom: 30px;
    line-height: 1.2;
}

.lab-description {
    border-left: 4px solid #08B36A;
    padding-left: 20px;
    margin-bottom: 30px;
    max-height: 160px;
    overflow-y: auto;
}

.lab-description p {
    color: #555;
    font-size: 16px;
    line-height: 1.8;
}

/* Scrollbar */
.lab-description::-webkit-scrollbar {
    width: 6px;
}

.lab-description::-webkit-scrollbar-thumb {
    background: #08B36A;
    border-radius: 10px;
}

.lab-btn {
    background-color: #08B36A;
    color: white;
    padding: 14px 30px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.lab-btn:hover {
    background-color: #248a59;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 1024px) {
    .lab-section {
        padding: 60px 40px;
    }

    .lab-heading {
        font-size: 36px;
    }

    .lab-image {
        height: 350px;
    }
}

@media (max-width: 768px) {

    .lab-container {
        flex-direction: column;
        gap: 40px;
    }

    .lab-left {
        order: 2;
        width: 100%;
    }

    .lab-right {
        order: 1;
        text-align: left;
    }

    .lab-heading {
        font-size: 28px;
    }

    .lab-description {
        max-height: 130px;
        text-align: left;
    }

    .lab-image {
        height: 250px;
    }
}
